extends layout


block mainContainer
    div(class="table-responsive")
        table(class="table")
            thead(class="bg-primary text-light")
                tr
                    td Id
                    td Nama
                    td Gender
                    td No HP
                    td Tanggal Masuk
                    td Detail
                
            
                